@model JourneySearchViewModel

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-custom">
    <div class="container-fluid d-flex flex-column align-items-center">
        <a class="navbar-brand" href="#">
            Yolculuk Arama
            <p>Bilet Bul</p>
        </a>
    </div>
</nav>
<form asp-action="Search" method="post">
    <div class="container">
        <div class="card">
            <div class="form-group relative-position no-margin">
                <div class="col-md-8">
                    <p>Kalkış</p>
                </div>
                <select id="Origin" asp-for="Origin" asp-items="@(new SelectList(Model.Locations, "Id", "Name"))"></select>
                <div class="col-md-8">
                    <p>Varış</p>
                </div>
                <select id="Destination" asp-for="Destination" asp-items="@(new SelectList(Model.Locations, "Id", "Name"))"></select>
                <div class="overlay-div">
                    <div class="icon-container">
                        <button type="button" id="swapButton">Değiştir</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="tarih">Kalkış Tarihi</label>
                <input type="date" asp-for="DepartureDate" id="DepartureDate" />
                <button type="button" id="todayButton">Bugün</button>
                <button type="button" id="tomorrowButton">Yarın</button>
            </div>
            <div class="text-center col-md-12 align-items-center">
                <button type="submit" class="btn btn-primary">Bileti Bul</button>
            </div>
        </div>
        <div class="text-center mt-4 no-margin ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</form>

<script>
    document.getElementById('swapButton').addEventListener('click', function () {
        var origin = document.getElementById('Origin');
        var destination = document.getElementById('Destination');

        var temp = origin.value;
        origin.value = destination.value;
        destination.value = temp;
    });

    document.getElementById('todayButton').addEventListener('click', function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('DepartureDate').value = today;
    });

    document.getElementById('tomorrowButton').addEventListener('click', function () {
        var today = new Date();
        var tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);
        var tomorrowString = tomorrow.toISOString().split('T')[0];
        document.getElementById('DepartureDate').value = tomorrowString;
    });
</script>
